.nav-text {
  color: #de7302;
}

.nav-text:hover {
  color: #b16b21;
}

.a-link {
  color: #de7302;
  text-decoration: none;
}

.a-link:hover {
  color: #de7302;
  text-decoration: none;
}

.button {
  color: white;
  background-color: #fd9930
}

.button:hover {
  color: white;
  background-color: #e3892b
}

.category-icon {
  color:#fd9930;
}

.record-text {
  color: #7e4c18;
}

.card-text {
  color:gray;
}

.inline-with-text {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px auto;
}

.inline-with-text::before,
.inline-with-text::after {
  content: " ";
  flex: 1;
  border-bottom: 1px solid lightgray;
  margin: 0 10px;
}