<header>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">家庭記帳本</a>
      <div class="d-flex align-items-center">
        <a class="navbar-brand  card-link" href="/restaurants/add"><i class="fa-solid fa-plus"></i> 新增餐廳</a>
        <form action="/logout" method="post">
          <button type="submit" class="btn navbar-brand card-link">
            <i class="fa-solid fa-arrow-right-from-bracket"></i> 登出
          </button>
        </form>
      </div>

    </div>
  </nav>

  <div class="banner"></div>

</header>